/* align icons to the left */
#what .items .item{
  display: flex;
  text-align: left;
}

/* position icon */

#what .items .item i{
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}
